
/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}
/* Custom styles go below */
@font-face {
    font-family: 'PlainLight';
    src: url('./assets/fonts/plain-light-webfont.ttf') format('truetype');
}
@font-face {
    font-family: 'PlainRegular';
    src: url('./assets/fonts/plain-regular-webfont.ttf') format('truetype');
}
@font-face {
    font-family: 'SilkSerifLightItalic';
    src: url('./assets/fonts/silkserif-lightitalic-webfont.ttf') format('truetype');
}

.text-stroke {
    -webkit-text-stroke: 1px black; /* Adjust width and color */
    color: transparent; /* Makes the fill transparent, leaving only the stroke */
  }
  
  .text-stroke-white {
    -webkit-text-stroke: 2px white;
    color: transparent;
  }
  
  .text-stroke-red {
    -webkit-text-stroke: 2px red;
    color: transparent;
  }

  #page1{
    margin-bottom: -100%;
  }
  